%tr
  %td 
    %div
      - unless obj.has_key?("guid")
        [obj] 
      - if source
        %a{ :href => "/explorer/firmware/#{obj["object_id"]}/" }
          - unless obj.has_key?("guid")
            #{obj["object_id"]}
          - else
            #{obj["guid"]}
      - else
        #{obj["object_id"]}
      - if obj.has_key?("guid_name")
        %div
          %small
            = obj["guid_name"]
  %td
    - if source == false and obj.has_key?("load_meta")
      #{obj["load_meta"]["magic"]}
    - else
      %small
        #{obj["vendor"]}
        - if source == true
          (#{obj["type"]})
  %td
    - if obj["attrs"].has_key?("name")
      .none= obj["attrs"]["name"]
    - if obj["attrs"].has_key?("description")
      .none= obj["attrs"]["description"]
    - if obj.has_key?("info")
      - obj["info"].each do |key, value|
        %b= key
        %small= value
    - if obj.has_key?("load_meta")
      - if source == true
        %div
          %small (#{obj["load_meta"]["magic"]})
    -# obj["objects"].each do |sub_obj|
  %td #{obj["size"]} 
  %td 
    - if obj.has_key? ("stats")
      - obj["stats"].each do |key, value|
        -# unless key == "Magic"
        %b= key
        %small= value
        - if key == "Changed"
          %br
  %td 
- if obj.has_key?("objects")

  - obj["objects"].each do |child|
    = render("object", :obj => child, :source => false)