
%tr
  %td= firmware[:importance]
  %td= firmware[:item_id]
  %td= firmware[:version]
  %td= firmware[:name]
  %td
    %b Size 
    - if firmware.has_key?(:size) and firmware[:size] != nil
      #{firmware[:size]/1024} kB
  %td 
    = Time.at(firmware[:date])
    - if last_update != 0
      %small 
        = (firmware[:date] - last_update)/(60*60)*-1
        hours
  %td
    - if firmware.has_key? (:stats) and firmware[:stats] != nil
      - firmware[:stats].each do |key, value|
        %b= key
        %small= value
    - else
      None
  %td
    %a{:href => "/explorer/firmware/#{firmware[:firmware_id]}"}
      .guid= firmware[:firmware_id]
  %td= firmware[:status]