- content_for :title do
  Explorer
- last_update = 0

.none
  %div Firmware List

%div
  %table.table.table-bordered.table-striped.table-hover
    %thead
      %tr
        %th ID
        %th Name
        %th Date
        %th Stats
        %th Firmware ID
        %th Actions
    %tbody
      - @firmware.each do |firmware_update|
        %tr
          %td #{firmware_update["version"]}
          %td #{firmware_update["name"]}
          %td 
            = Time.at(firmware_update["date"])
            - if last_update != 0
              %small 
                = (firmware_update["date"] - last_update)/(60*60)
                hours
            - last_update = firmware_update["date"]
          %td
            - if firmware_update.has_key? ("stats")
              - firmware_update["stats"].each do |key, value|
                %b= key
                %small= value
          %td
            %a{:href => "/explorer/firmware/#{firmware_update["firmware_id"]}"}
              #{firmware_update["firmware_id"]}
          %td None