- content_for :title do
  Explorer - File

.container
  .row
    .none
      Firmware ID: 
      = @firmware_id
      GUID: 
      = @guid

.container
  .row
    %div.col-lg-4
      %table.table.table-bordered.table-striped.table-hover
        %thead
          %tr
            %th Key
            %th Value
        %tbody
          - @stats.each do |key, value|
            %tr
              %td= key
              %td= value

  - @objects.each do |obj|
    .row
      %div.col-lg-4
        .h4 Object
        %table.table.table-bordered.table-striped.table-hover
          %thead
            %tr
              %th Key
              %th Value
          %tbody
            - obj["stats"].each do |key, value|
              %tr
                %td= key
                %td= value
        .download
          = link_to "/explorer/download/#{obj["id"]}" do
            Download