- content_for :title do
  Explorer - Firmware Objects

%h3
  Firmware ID: 
  %a{ :href => "/explorer/firmware/#{@firmware_id}/"}
    .guid= @firmware_id

.desc
  = @firmware_object["description"]

-#.actions
-#  .row
-#    This update contains a security patch: 
-#    %input{:id => "contains_patch"}

.container
  .row
    .col-md-12
      %table
        - @changed.each do |obj|
          %tr
            %td
              %a{ :href => "/explorer/firmware/#{obj["object_id"]}/"} 
                = obj["guid"]
            %td= obj["load_change"]
            %td= obj["attrs"]

  .row
    %table.table.table-bordered.table-striped.table-hover
      %thead
        %tr
          %th ObjectID
          %th Type
          %th Info
          %th Size
          %th Stats
          %th Actions
      %tbody
        = render("object", :obj => @firmware_object, :source => true, :independent => true, :base => true)
        %tr
          %th{ :colspan => "6" }
            Children
        - @objects.each do |obj|
          = render("object", :obj => obj, :source => true, :independent => false, :base => false)

    = will_paginate @objects