- content_for :title do
  Explorer - Firmware Objects

%h3
  Firmware ID: 
  %a{ :href => "/explorer/firmware/#{@firmware_id}/"}
    .guid= @firmware_id

.desc
  = @firmware_object["description"]

-#.actions
-#  .row
-#    This update contains a security patch: 
-#    %input{:id => "contains_patch"}

.container
  .row
    %h4 Changes
    .col-md-12
      %table.table.table-bordered
        - @changed.each do |obj|
          = render("object", :obj => obj, :source => true, :independent => false, :base => true)

  .row
    %h4 Structure
    %table.table.table-bordered.table-striped.table-hover
      %thead
        %tr
          %th ObjectID
          %th Type
          %th Info
          %th Size
          %th Stats
          %th Actions
      %tbody
        = render("object", :obj => @firmware_object, :source => true, :independent => true, :base => true)
        %tr
          %th{ :colspan => "6" }
            Children
        - @objects.each do |obj|
          = render("object", :obj => obj, :source => true, :independent => false, :base => false)

    = will_paginate @objects

- content_for :javascript do
  :javascript
    var $classes = {};
    $classes["true"] = "text-warning";
    $classes["false"] = "text-muted";
    $classes["locked"] = "text-danger";

    function toggle_failed(e) {
      var $object = "none";
    }

    function toggle_callback(result) {
      console.log(result);
      var $object = $('.toggle-' + result["type"] + '[data-id="' + result["id"] + '"]');
      console.log($object);
      $object.removeClass($classes[result["previous"]]);
      $object.addClass($classes[result["value"]]);
      $object.attr("data-value", result["value"]);
    }

    $(".toggle").click(function(e) {
      var $toggle = $(e.target);
      $toggle.attr("disabled", "disabled");

      var $actions = {
        value: $toggle.attr("data-value"),
        id: $toggle.attr("data-id"),
        type: $toggle.attr("data-type"),
        firmware_id: $toggle.attr("data-firmware"),
      };

      $.post( "/explorer/actions/" + $actions["type"], { actions: $actions }, toggle_callback, "json")
        .fail(function(e) {
          toggle_failed(e);
        });
    });