- content_for :title do
  Explorer - Firmware Objects

.none
  Firmware ID: 
  = @firmware_id

%div
  %table.table.table-bordered.table-striped.table-hover
    %thead
      %tr
        %th GUID
        %th Info
        %th Size
        %th Stats
        %th Actions
    %tbody
      - @objects.each do |obj|
        %tr
          %td 
            %div
              %a{ :href => "/explorer/uefi/#{obj["object_id"]}"}
                #{obj["guid"]}
            %small (#{obj["attrs"]["type"]})
          %td
            - if obj.has_key?("description")
              .none= obj["description"]
            - if obj.has_key?("load_meta")
              %small (#{obj["load_meta"]["magic"]})
            -# obj["objects"].each do |sub_obj|
          %td #{obj["attrs"]["size"]} 
          %td 
            - if obj.has_key? ("stats")
              - obj["stats"].each do |key, value|
                %b= key
                %small= value
          %td 