- content_for :title do
  Product Explorer
- times_json = ""
- freqs_json = ""

%noscript
  :css
    .chart {}
    .axis line, .axis path {
      shape-rendering: crispEdges;
      stroke: black;
      fill: none;
    }
    .circle {
      fill: steelblue;
    }

%h3
  %div Firmware List: Products

#time_chart
#freq_chart
#delta_chart

%div
  %table.table.table-bordered.table-striped.table-hover
    %thead
      %tr
        %th #
        %th Vendor
        %th Name
        %th Updates
        %th Initial
        %th Latest
        %th Lifetime
        %th Stats
        %th Item/FW ID
        %th Actions
    %tbody
      - product_index = (@page_num * @per_page)
      - @products_keys.each do |name|
        - updates = @products[name]
        - product_index += 1
        - last_update = 0
        %tr
          %td= product_index
          %td= updates[0][:vendor]
          %td
            .pull-left
              %a{ "data-toggle" => "collapse", "data-target" => "#product#{product_index}"}
                = name
            .pull-right 
              >
          %td= updates.length
          %td= Time.at(updates[0][:date])
          %td= Time.at(updates[-1][:date])
          %td
            = (updates[0][:date] - updates[-1][:date])/(60*60)
            hours
          %td 
          %td= updates[0][:item_id]
          %td
        %tr
          %td{ :colspan => "10", :style => "padding: 0px; padding-right: 0px !important" }
            .collapse.no-transition{ :id => "product#{product_index}"}
              %table.table.table-bordered.tabl-hover{ :style => "margin-bottom: 0px" }
                %tbody
                  - updates.each do |update|
                    %tr
                      = render "update", :firmware => update, :last_update => last_update
                    - delta = if last_update != 0 then (update[:date] - last_update)/(60*60)*-1 else 0 end
                    - last_update = update[:date]
                    - update_formatted = Time.at(update[:date]).strftime("%d %b %Y")
                    - if update[:load_change].has_key?("change_score")
                      - times_json += "{\"Name\": \"#{name}\", \"Version\": \"#{update[:version]}\", \"Change\": #{update[:load_change]['change_score']}, \"Time\": \"#{update_formatted}\", \"Delta\": #{delta}}, "
        - freq = updates.map{|x| (x[:date]-updates[-1][:date])/(60*60)}.compact
        - freqs_json += "{\"Name\": \"#{name}\", \"Change\": #{(freq.sum/freq.size)/updates.size}, \"Count\": #{updates.size} }, "

  = will_paginate @products_keys

- content_for :javascript do 
  :javascript
    var update_times = [#{times_json}]
    var update_freqs = [#{freqs_json}]

    generate_time_bars('#time_chart', update_times);
    generate_freq_bars('#freq_chart', update_freqs);
    generate_delta_points('#delta_chart', update_times);
