- content_for :title do
  Product Explorer

%h3
  %div Firmware List: Products

%div
  %table.table.table-bordered.table-striped.table-hover
    %thead
      %tr
        %th Vendor
        %th Name
        %th Updates
        %th Initial
        %th Latest
        %th Lifetime
        %th Stats
        %th Item/FW ID
        %th Actions
    %tbody
      - product_index = 0
      - @products.each do |name, updates|
        - product_index += 1
        - last_update = 0
        %tr
          %td= updates[0][:vendor]
          %td
            .pull-left
              %a{ "data-toggle" => "collapse", "data-target" => "#product#{product_index}"}
                = name
            .pull-right 
              >
          %td= updates.length
          %td= Time.at(updates[0][:date])
          %td= Time.at(updates[-1][:date])
          %td
            = (updates[-1][:date] - updates[0][:date])/(60*60)
            hours
          %td 
          %td= updates[0][:item_id]
          %td
        %tr
          %td{ :colspan => "9", :style => "padding: 0px; padding-right: 0px !important" }
            .collapse.no-transition{ :id => "product#{product_index}"}
              %table.table.table-bordered.tabl-hover{ :style => "margin-bottom: 0px" }
                %tbody
                  - updates.each do |update|
                    %tr
                      = render "firmware", :firmware => update, :last_update => last_update
                      - last_update = update[:date]

      -# updates.each do |update|
        -#= render "firmware", :firmware => update, :last_update => last_update
        -#last_update = update[:date]